node_modules/
.vscode/
.DS_Store
Thumbs.db
logs/
tmp/
cache/
*.log
*.tmp
dist/
build/
out/
AppData/
Local/
ProgramData/
*.swp
*.swo
package-lock.json
yarn.lock
*.zip
*.rar
*.exe
*.dmg
*.iso
*.bak
*.old