.dishes {
    &__content {
        padding: 100px 0 120px;
        border-bottom: solid 1px $gray-light;

        h3 {
            margin-bottom: 76px;
            text-align: center;
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
        gap: 30px;

        .card {
            &__img {
                width: 185px;
                height: 179px;
                margin: 36px 25px 4px 15px;
            }

            h4 {
                font-size: 23px;
            }

            &__rating {
                margin-bottom: 13px;
            }
        }
    }
}
