.faq {
    .container {
        padding: 196px 0 174px 0;

        h2 {
            @include font (Poppins, 45, 600, 54, null);
            max-width: 408px;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 90px;
            position: relative;

            &::after {
                content: url('../../images/vector-lines.svg');
                position: absolute;
                right: -60px;
                top: -37px;
            }
        }

        h3 {
            @include font (Poppins, 24, 600, 60, $black);
        }

        .plus {
            @include size (30, 30);
            background: $puple-medium;
            border-radius: 100%;
            position: relative;
            @include flex(center, center, null, null);
            flex-shrink: 0;
            transition: rotate 0.3s ease;

            &__line {
                &:first-child {
                    @include size(16, 2);
                    background: $white;
                    position: absolute;
                    border-radius: 2px;
                }

                &:last-child {
                    @include size(2, 16);
                    background: $white;
                    position: absolute;
                    border-radius: 2px;
                }
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    &__item {
        padding: 28px 0 16px 0;
        border-bottom: 1px solid rgba(173, 173, 173, 1);

        &-title {
            @include flex (center, space-between, null, null);
        }

        &-cont {
            @include font (Poppins, 20, 400, 32, $gray-medium);
            letter-spacing: 1%;
        }

        &[open] {
            .plus {
                rotate: 45deg;
            }
        }
    }
}

@include media($xl) {
    .faq {
        &__items {
            width: 90%;
            margin: 0 auto;
        }
    }
}

@include media($md) {
    .faq {
        .container {
            h2 {
                @include font (Poppins, 36, 600, 38, null);
            }

            h3 {
                @include font (Poppins, 20, 600, 24, $black);
            }
        }

        &__item {
            padding: 24px 0 12px 0;

            &-cont {
                @include font (Poppins, 18, 400, 20, $gray-medium);
                letter-spacing: 1%;
            }
        }
    }
}

@include media($sm) {
    .faq {
        .container {
            h2 {
                @include font (Poppins, 30, 600, 32, null);
            }

            h3 {
                @include font (Poppins, 16, 600, 18, $black);
            }
        }

        &__item {
            padding: 18px 0 10px 0;

            &-cont {
                @include font (Poppins, 14, 400, 16, $gray-medium);
                letter-spacing: 1%;
            }
        }
    }
}