.features {
    background: $puple-dark url(../../images/features-bg-vector.png) no-repeat center / cover;
    padding: 49px 0;

    &__list {
        @include flex(center, center, null, 66);
    }

    &__item {
        @include flex(center, null, column, 11);
        min-width: 166px;
        max-width: 209px;

        h3 {
            @include font(Public Sans, 43, 700, 54, $white);
        }

        p {
            @include font(Inter, 14.4, 500, 22, $puple-light);
        }
    }

    &__line {
        height: 123px;
        width: 1px;
        background-color: $gray-dark;
    }
}