.features {
    background: $puple-dark url(../../images/features-bg-vector.png) no-repeat center / cover;
    padding: 49px 0;
    margin: 0 0 103.5px 0;

    &__list {
        @include flex(center, center, null, 66);
    }

    &__item {
        @include flex(center, null, column, 11);
        max-width: 202px;

        h3 {
            @include font(Poppins, 42, null, null, $white);
        }

        p {
            @include font(null, 14, null, 21.6, $puple-light);
        }
    }

    &__line {
        height: 123px;
        width: 1px;
        background-color: $gray-medium;
    }
}