.header {
    &__content {
        @include flex(center, center, null, 103);
        padding: 48px 0 24px 0;
        border-bottom: solid 1px $gray-light;
    }

    &__nav {
        @include flex(center, center, null, 426);
    }

    &__menu {
        ul {
            @include flex(center, center, null, 54);
            @include main-font();

            li {
                @include li();

                a {
                    @include a();
                    color: rgba(96, 96, 96, 1);
                }
            }
        }
    }

    &__buttons {
        @include flex(center, center, null, 9);
    }
}