.main {
    padding: 119px 0 130px;

    &__over {
        color: rgba(32, 31, 31, 0.2);
        @include font(Poppins, 15, 600, null, null);
        line-height: 120%;
        letter-spacing: 2px;
        @include flex(center, null, null, 20);

        &-line {
            height: 1px;
            width: 54px;
            background-color: rgba(32, 31, 31, 0.2);
        }

        margin-bottom: 18px;
    }

    &__title {
        @include font(Poppins, 75, 600, null, rgba(32, 31, 31, 1));
        line-height: 120%;
        letter-spacing: -3px;

        span {
            color: rgba(92, 78, 174, 1);
        }

        margin-bottom: 16px;
    }

    &__info {
        max-width: 500px;
        @include font(Inter, 18, 400, 28, rgba(103, 103, 103, 1));
        letter-spacing: 0.2px;
        opacity: 70%;

        span {
            @include font(Inter, 18, 500, 28, rgba(97, 85, 174, 1));
        }

        margin-bottom: 53px;
    }

    &__buttons {
        @include flex(center, null, null, 18);
        margin-bottom: 33px;

        .button {
            &--primary {
                padding: 18px 30px 17px 29px;
            }

            &--secondary {
                border: 1.5px solid rgba(108, 95, 188, 1);
                color: rgba(108, 95, 188, 1);
            }
        }
    }

    &__trust {
        @include flex(center, null, null, 20);

        &-rating {
            @include flex(center, center, null, 9);
            @include font(Inter, 16, 500, 24, rgba(51, 65, 85, 0.7))
        }
    }

    &__stars {
        @include flex(center, null, null, 4);
    }
}