.mobile-app {
    &__content {
        @include flex(null, null, null, 287);
        padding: 104px 0 98px 0;
        border-bottom: solid 1px $gray-light;
    }

    &__img {
        margin-left: 111px;
        position: relative;

        img {
            width: 304px;
        }

        &::after {
            content: url('../../images/mobile-app-vector.png');
            position: absolute;
            left: calc(304px + 15px);
        }
    }

    &__text {
        max-width: 500px;

        h2 {
            @include font(Poppins, $size-h2, 700, 58, null);
            margin-bottom: 63px;
        }

        ul {
            margin-bottom: 66px;

            li {
                @include font(Inter, 20, 400, 30, $gray-medium);
                margin-bottom: 28px;
            }
        }

        button {
            font-size: 18px;
            gap: 15px;
            position: relative;

            &::after {
                content: url('../../images/mobile-app-vector2.png');
                position: absolute;
                top: 50px;
                left: 170px;
            }
        }
    }
}