.restaurants {
    &__content {
        padding: 100px 0 120px;
        border-bottom: solid 1px $gray-light;

        h3 {
            margin-bottom: 86px;
            text-align: center;
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(396px, 1fr));
        gap: 29px;
    }
}