.reviews {
    padding: 116px 0 217px 0;

    &__content {
        h3 {
            margin-bottom: 80px;
            text-align: center;
        }
    }

    &-slider {
        padding-bottom: 100px;
        overflow: visible;
    }

    .swiper {
        &-wrapper {
            padding-bottom: 100px;
        }


        &-slide {
            height: auto;
            display: flex;
            background: $white;
            max-width: 528px;
            padding: 38px 43px;
            border-radius: 21px;
            @include flex(null, center, column, null);

            &:hover {
                box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
            }
        }
    }

    &__quote {
        @include font (Poppins, 18, 400, 26, $gray-medium);
        font-style: italic;
        margin-bottom: 39px;
        max-width: 100%;

        &::before,
        &::after {
            content: '"';
        }
    }

    .swiper-scrollbar {
        height: 11px !important;
        width: 100%;
        max-width: 710px;
        background: $puple-light;
        border-radius: 50px;
        position: absolute;
        bottom: 0;
        left: 50% !important;
        transform: translateX(-50%);
        cursor: pointer;

        &-drag {
            height: 100% !important;
            background: $puple-medium;
            border-radius: 50px;
            cursor: grab;

            &:active {
                cursor: grabbing;
            }
        }
    }
}

@include media($md) {
    .reviews {
        .swiper-slide {
            max-width: 260px;
        }

        &__quote {
            font-size: 16px;
        }

        .swiper-slider {
            padding-bottom: 60px;
        }
    }
}

@include media($sm) {
    .reviews {
        .swiper-slide {
            width: 80%;
            padding: 28px 23px;
        }

        &__quote {
            font-size: 14px;
        }
    }

    .swiper-scrollbar {
        height: 8px !important;

        &-drag {
            width: 50% !important;
        }
    }
}