.reviews {
    padding: 116px 0 217px 0;

    &__content {
        h3 {
            margin-bottom: 80px;
            text-align: center;
        }
    }

    &__card {
        background: $white;
        max-width: 528px;
        padding: 38px 43px;
        border-radius: 21px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    }

    &__user {
        @include flex (center, space-between, null, null);
        margin-bottom: 32px;
    }

    &__profile {
        @include flex (center, null, null, 21);

        img {
            @include size (71, 71);
            border-radius: 100%;
        }

        &__info {
            h4 {
                @include font (Poppins, 21, 500, 31, rgba(3, 3, 20, 1));
                margin-bottom: 0.4px;
            }

            p {
                @include font (Quicksand, 17, 500, 26, rgba(94, 93, 93, 1));
            }
        }
    }


    &__quote {
        @include font (Poppins, 18, 400, 26, $gray-medium);
        font-style: italic;
        margin-bottom: 39px;
        max-width: 528px;

        &::before,
        &::after {
            content: '"';
        }
    }

    &__secondary {
        @include flex (center, null, null, 46);

        .reviews__quote {
            color: rgba(150, 150, 150, 1);
            margin-bottom: 32px;
        }
    }
}
