.subscribe {
    &__content {
        background: $puple-medium url("../../images/subscribe-bg.png") no-repeat center/cover;
        border-radius: 30px;
        position: relative;
        padding: 37px 72px 61px 66px;
        margin-bottom: 216px;

        .h2 {
            @include font (Poppins, 70, 800, null, rgba(222, 220, 239, 1));
        }

        img {
            position: absolute;
            right: 72px;
            top: 64px;
        }
    }

    &__form {
        @include flex (center, space-between, null, 0);
        width: 440px;
        padding: 7.3px 6.4px 7.3px 22px;
        border-radius: 14px;
        background-color: rgba(222, 220, 239, 1);
        box-shadow: 0px 7.25px 45px 0px rgba(0, 0, 0, 0.1);

        input {
            border: 0;
            width: 100%;
            outline: none;
            background-color: rgba(222, 220, 239, 0);

            &::placeholder {
                @include font (Poppins, 16, 400, null, rgba(135, 135, 135, 1));
            }
        }

        .button {
            text-transform: uppercase;
            @include font (Poppins, 15, 500, null, rgba(222, 220, 239, 1));
            letter-spacing: 3%;
            text-transform: uppercase;

        }
    }
}

@include media($lg) {
    .subscribe {
        &__form {
            width: 36vw;
        }
    }
}

@include media($md) {
    .subscribe {
        &__content {
            padding-bottom: 164px;

            img {
                top: 264px;
            }
        }

        &__form {
            width: 60vw;
        }
    }
}

@include media($sm) {
    .subscribe {
        &__content {
            padding: 30px 26px 164px;

            img {
                top: 214px;
                @include size (220, 220);
            }
        }

        .h2 {
            text-align: center;
            font-size: 56px;
        }

        &__form {
            margin: 0 auto;
            padding: 5px 7px 5px 10px;

            .button {
                font-size: 13px;
                padding: 14px 18px;
            }

            input {
                &::placeholder {
                    font-size: 13px;
                }
            }
        }
    }
}

@include media($xs) {
    .subscribe {
        &__content {
            padding: 24px 22px 140px;

            img {
                top: 184px;
                @include size (160, 160);
            }
        }

        .h2 {
            font-size: 42px;
        }

        &__form {
            padding: 4px 5px 4px 8px;

            .button {
                font-size: 10px;
                padding: 8px 12px;
            }

            input {
                &::placeholder {
                    font-size: 10px;
                }
            }
        }
    }
}