@mixin a() {
    text-decoration: none;
}

@mixin li() {
    list-style: none;
}

@mixin flex($align: center, $justify: center, $direction: column, $gap: 0) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
    gap: $gap + px;
}

@mixin font($family, $size, $width, $height, $color) {
    font-family: $family;
    font-size: $size + px;
    font-weight: $width;
    line-height: $height + px;
    color: $color;
}

@mixin size($w, $h){
    width: $w + px;
    height: $h + px;
}

@mixin main-font() {
    @include font(Inter, 18, 500, 27, $gray-medium);
}

@mixin h3() {
    @include font(Poppins-SemiBold, 45, 500, 26, $gray-dark);
    text-align: center;
}