$puple-dark: #5C4EAE;
$puple-light: #C5BFED;
$puple-medium: rgba(108, 95, 188, 1);
$bg-light: #F9F9F9;
$gray-medium: #c5c5c515;
$gray-light: rgba(103, 103, 103, 1);
$white: rgba(255, 255, 255, 1);


$size-h2: 50.92;


$font-700: 700;