* {
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: "Inter";
    src: url(../../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: "Poppins";
    src: url(../../fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "Manrope";
    src: url(../../fonts/Manrope/Manrope-VariableFont_wght.ttf);
}

@import 'variables';
@import 'mixins';

body {
    font-family: "Inter", sans-serif;
    background-color: $bg-light;
}

.container {
    max-width: 1246px;
    margin: 0 auto;
}

.logo {
    @include flex(center, null, null, 11);
    
    p {
        @include font(Poppins, 21.18, 600, null, $puple-medium);
    }
}

.span {
    color: $puple-medium;
}

.button {
    padding: 18px 26px;
    @include font(Poppins, null, 500, null, null);
    @include flex(center, null, row, 0);
    border: 0px;

    &--primary {
        background: $puple-medium;
        color: $white;
    }

    &--secondary{
        background: $bg-light;
        color: $gray-medium;

    }
}

@import 'companents/header';
@import 'companents/features';
@import 'companents/mobile-app';
@import 'companents/restaurants';
@import 'companents/footer';