* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import 'variables';
@import 'mixins';

body {
    font-family: "Inter", sans-serif;
    background-color: $bg-light;
}

.container {
    max-width: 1246px;
    margin: 0 auto;
}

.logo {
    @include flex(center, null, null, 11);

    p {
        @include font(Poppins, 22, 600, null, $puple-medium);
    }
}

.span {
    color: $puple-medium;
}

.button {
    padding: 18px 26px;
    @include main-font();
    @include flex(center, null, row, 0);
    border: 0px;
    border-radius: 18px;

    &--primary {
        background: $puple-medium;
        color: $white;
    }

    &--secondary {
        background: $bg-light;
        color: $gray-medium;

    }
}

h3 {
    @include font(Poppins, 45, 600, 26, $black);
}

::-webkit-scrollbar-thumb {
    background: $puple-medium;
}

@import 'companents/cards';

@import 'companents/header';
@import 'companents/main';
@import 'companents/features';
@import 'companents/mobile-app';
@import 'companents/restaurants';
@import 'companents/dishes';
@import 'companents/control';
@import 'companents/reviews';
@import 'companents/subscribe';
@import 'companents/footer';